body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}


.conteudo{
    text-align: center;
}

.pagina{
    display: none;
}

.ativo{
    display: block;
}

button{
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}


button:hover{
    background-color: rgb(255, 255, 255);
    color: #007bff;
}







